<!DOCTYPE html>
<html>
  <head>
    <script src="../../../lib/vue/vue.min.js"></script>
    <script src="../../../lib/axios/axios.js"></script>
    <title>Problem 2</title>
  </head>
  <body>
    <div id="app">
      <ol v-if="!!users">
        <li v-for="(user, id) in users">
          {{ user.name }} - {{ user.city }}
          <button v-on:click="editUser(id)">Edit</button>
          <button v-on:click="deleteUser(id)">Delete</button>
        </li>
      </ol>
      <input v-model="name" placeholder="Name" />
      <input v-model="city" placeholder="City" />
      <button v-on:click="addUser()">Add</button>
    </div>
    <script src="app.js"></script>
  </body>
</html>
